.event-calendar {
    position: absolute;
    min-width: 300px;
    max-width: 500px;
    width: 100%;
    margin: 3px 0;
    height: auto;
    text-align: center;
    border-radius: 2px;
    font-family: arial;
    font-size: 16px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.55);
}

.event-calendar * {
    box-sizing: border-box;
}

.event-calendar .clickable {
    cursor: pointer;
    pointer-events: fill;
}

.event-calendar .ec-head {
    display: block;
    width: 100%;
}

.event-calendar .ec-head .ec-title {
    cursor: pointer;
    padding: 0 10px;
}

.event-calendar .ec-head .ec-main-row {
    background: linear-gradient(#293f50, #192f30);
    color: #fff;
    padding: 3px 0;
    user-select: none;
    display: flex;
    justify-content: center;
    height: 26px;
}

.event-calendar .ec-head .ec-main-row > p {
    margin: 0;
}

.event-calendar .ec-head .ec-main-row > a {
    position: relative;
    top: -1px;
    display: inline-block;
    border: 1px solid rgba(255,255,255,0.2);
    background: radial-gradient(#648880, #293f50);
    width: 50px;
    border-radius: 3px;
    cursor: pointer;
    color: inherit;
}

.event-calendar .ec-head .ec-main-row > a:hover { background: radial-gradient(#749890, #394f60); }

.event-calendar .ec-row {
    display: table-row;
}

.event-calendar .ec-row .ec-cell {
    display: table-cell;
    vertical-align: middle;
    transition: 0.5s;
    width: 33.33%;
    height: 40px;
    font-size: 12px;
}

.event-calendar .ec-row .ec-cell.invalid { 
    pointer-events: none;
    opacity: 0.5;
}

.event-calendar [data-ec-view="day"] .ec-row .ec-cell {
    width: 14.28%;
    height: 30px;
}

.event-calendar [data-ec-view="day"] .ec-subhead {
    display: table;
    width: 100%;
    color: rgba(255,255,255,0.7);
    background: linear-gradient(#293f50, #192f30);
}

.event-calendar [data-ec-view="day"] .ec-subhead.ec-head .ec-main-row {
    background: linear-gradient(#192f30, #101f20);
}

.event-calendar .ec-right-side {
    position: absolute;
    display: block;
    right: 3px;
    top: 2px;
}

.event-calendar .ec-right-side .ec-close {
    font-family: Open Sans, serif;
    font-size: 18px;
    display: block;
    border-radius: 4px;
    background-color: rgb(255,0,0);
    opacity: 0.5;
    line-height: 22px;
    width: 22px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.event-calendar .ec-left-side {
    position: absolute;
    display: block;
    left: 3px;
    top: 2px;
    line-height: 20px;
    font-size: 25px
}

.event-calendar .ec-left-side a {
    height: 22px;
    border-radius: 2px;
    opacity: 0.75;
    display: inline-block
}

.event-calendar .ec-right-side .ec-close:hover,
.event-calendar .ec-left-side a:hover { 
    opacity: 1;
} 

.event-calendar .ec-left-side .ec-add {
    width: 22px;
    height: 20px;
    background-color: rgb(250, 150, 150);
    margin: 1px 2px;
    cursor: pointer;
}

.event-calendar .ec-left-side .ec-back {
    cursor: pointer;
    width: 26px;
    background-color: rgb(130, 90, 120);
}

.event-calendar .ec-form {
    display: none;
    color: #333;
    background: linear-gradient(#293f50, #648880);
    padding: 16px 0 20px;
}

.event-calendar .ec-form .ec-submit {
    display: inline-block;
    margin-top: 6px;
}

.event-calendar .ec-form > .form-input { margin-top: 4px; }
.event-calendar .ec-form [name] {
    padding: 4px 6px;
    background-color: rgba(255,255,255,0.6);
    border: 1px solid rgba(0,0,0,0.8);
    border-radius: 4px;
    width: 80%;
    margin: auto;
}

.event-calendar .ec-form input {
    position: relative;
    display: block;
}

.event-calendar .ec-form input[name] {
    text-indent: 10px;
    width: 80%;
}

.event-calendar .ec-form input[name="created"] {
    width: 150px;
    text-align: center;
}

.event-calendar .ec-form textarea {
    display: block;
    min-height: 100px;
    resize: none;
}

.event-calendar .ec-form .ec-button, 
.event-calendar .ec-form .ec-submit {
    position: relative;
    padding: 4px 8px;
    display: inline-block;
    margin: 0 2px;
    border-radius: 3px;
    color: inherit;
    background: linear-gradient(to top, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
    border: 1px solid #000;
    font-size: 14px;
    cursor: pointer;
}

.event-calendar .ec-form .ec-button:active, 
.event-calendar .ec-form .ec-submit:active {
    top: 1px;
    left: 1px;
    background: linear-gradient(to top, rgb(252, 252, 252) 16%, rgb(207, 207, 207) 79%);
}


.event-calendar .ec-form .ec-date-area {
    display: flex;
    align-items: center;
    padding: 4px; 
    justify-content: space-around;
}

.event-calendar .ec-form .ec-date-area > div:first-child {
    padding: 2px 6px;
    background: rgba(255,255,255,0.2);
    border-radius: 8px;
    color: #fff;
    font-family: arial;
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 16px;
}

.event-calendar .ec-form .ec-date-area .button-bar {
    display: flex;
}

.event-calendar .ec-form .ec-date-area .button-bar > a {
    padding: 2px 4px;
    line-height: 32px;
    height: 32px;
    display: flex;
    align-items: center;
}

.event-calendar [data-ec-view="form"] .ec-form,
.event-calendar [data-ec-view="event"] .ec-form {
    display: block;
}

.event-calendar .ec-body {
    display: table;
    width: 100%;
    color: rgba(255,255,255,0.75);;
    background: linear-gradient(#293f50, #648880);
}

.event-calendar .ec-body .ec-list-wrapper {
    overflow: auto;
    max-height: 400px;
}

.event-calendar .ec-body .ec-list {
    min-height: 150px;
    padding: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.event-calendar .ec-body .ec-row .ec-cell {
    position: relative;
    cursor: pointer;
}

.event-calendar .ec-body .ec-row .ec-cell:hover { background-color: #ccf; }
.event-calendar .ec-body .ec-row .ec-cell:disabled { cursor: not-allowed; }
.event-calendar .ec-body .ec-row .ec-cell.inactive { opacity: 0.3; }
.event-calendar .ec-body .ec-row .ec-cell.selected { background-color: rgba(100,100,200,0.5); }
.event-calendar .ec-body .ec-row .ec-cell.today { background-color: rgba(100,100,200,0.5); }
.event-calendar .ec-body .ec-row .ec-cell.event { box-shadow: inset 0 0 10px #0f0; }
.event-calendar .ec-body .ec-row .ec-cell[data-counter]:not([data-counter="0"]):after { 
    position: absolute;
    bottom: -2px;
    right: -2px;
    font-size: 10px;
    padding: 2px;
    display: block;
    width: 12px;
    color: #fff;
    border: 1px solid #000;
    content: attr(data-counter);
    border-radius: 50%;
    background-color: rgba(100,100,200,0.8);
}

.event-calendar .ec-body .ec-bubble {
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 10px;
    margin: 15px;
    margin-bottom: 25px;
    width: 100%;
}

.event-calendar .ec-body .ec-bubble .ec-actions {
    position: absolute;
    display: none;
    color: rgba(255,255,255,0.5);
    top: 4px;
    right: 4px;
}

.event-calendar .ec-body .ec-bubble:hover .ec-actions {
    display: flex;
}

.event-calendar .ec-body .ec-bubble h3 {
    font-size: 16px;
    display: block;
}

.event-calendar .ec-body .ec-bubble p {
    margin-top: 10px;
    font-size: 14px;
    display: block;
}

.event-calendar .ec-body .ec-bubble time {
    text-align: right;
    font-size: 10px;
    display: block;
}